@model CarDealer.Models.CarDealer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarDealer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarParkNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarParkNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarDealerId }) |
    @Html.ActionLink("Back to the list", "Index")
</p>
